<a href="https://colab.research.google.com/github/lapointe05/m1-miage/blob/Rayene_Hakoume/M1_MIAGE_TD_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://upload.wikimedia.org/wikipedia/fr/0/0b/Polytech_Lyon_logo.png" alt="drawing" height="200"/>

# Traitement de donn√©es & Programmation en Python
---

# TD 06

Traitement de donn√©es

Elements √† consulter:





Doc                                   |             Link
--------------------------------------|------------------------------------
Github Helper      | [>link<](#scrollTo=Github_101)
Python en 30 jours | [>link<](https://moncoachdata.com/courses/apprendre-python-en-30-jours/)
Get started with pandas | [>link<](https://colab.research.google.com/notebooks/snippets/pandas.ipynb)

## Intro

Le premier bloc devrait toujours contenir les installs/imports dont on aura besoin pour le reste

In [ ]:
# Installs
print("Python is awesome üëç")

Python is awesome üëç

## EX01
### Dataframes

* Importer la librairie pandas
* lire dataset 'tv_shows.csv' dans une variable tv_data
* Afficher les 10 premieres lignes du dataset
* Cr√©er une colonne "sreaming_platform" qui contient le nom de la plateforme de streaming en se basant sur les colonnes (hulu, prime, disney, netflix)
* Drop les colonnes (hulu, prime, disney, netflix)
* Afficher le nombre de shows par plateforme de streaming
* Afficher la note moyenne (imdb) par plateforme de streaming
* Assigner a une variable top_shows, les meilleurs shows par plateforme de streaming et afficher cette derni√®re
> bonus 
* Faire un graphique avec le nombre de shows par ann√©e (sur Y, et sur l'axe X les ann√©es) par plateforme de streaming (en series). Libres sur le choix du graphique [help](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.bar.html)

In [ ]:
from IPython.utils.py3compat import platform
# Code here

#Importer la librairie pandas
import pandas as pd
#lire dataset 'tv_shows.csv' dans une variable tv_data
tv_data = pd.read_csv('tv_shows.csv',sep="|")
#Afficher les 10 premi√®res lignes du dataset
#tv_data.head(10)
#Cr√©er une colonne "sreaming_platform" qui contient le nom de la plateforme de 
#streaming en se basant sur les colonnes (hulu, prime, disney, netflix)
col= tv_data.columns
platform=['Netflix','Hulu','Prime Video','Disney+']
col = ['ID','Title','Year','Age','IMDb','Rotten Tomatoes','Type']
pd.melt(tv_data,id_vars=col,value_vars=platform,var_name='sreaming_platform')
print(4444444444444444444444444444444)
print(tv_data)
#Drop les colonnes (hulu, prime, disney, netflix) 
#print(tv_data.drop(columns=['Hulu','Prime Video','Disney+','Netflix']))


# Afficher le nombre de shows par plateforme de streaming
melted_data = pd.melt(tv_data, id_vars=col, value_vars=platform, var_name='streaming_platform')
platform_count = melted_data.groupby('streaming_platform').size()
print(platform_count)

#Afficher la note moyenne (imdb) par plateforme de streaming

# Convert the IMDb column to a numeric data type

melted_data['IMDb'] = pd.to_numeric(melted_data['IMDb'], errors='coerce').fillna(0)





# Group the data by streaming platform and get the mean of the IMDb column
platform_mean_rating = melted_data.groupby('streaming_platform')['IMDb'].mean()

# Print the mean rating
#print(platform_mean_rating)

# Print the top show for each platform
top_shows = melted_data.groupby('streaming_platform')['IMDb'].apply(lambda x: x.idxmax())
print(top_shows)

4444444444444444444444444444444
        ID                                  Title  Year  Age    IMDb  \
0        1                           Breaking Bad  2008  18+  9.4/10
1        2                        Stranger Things  2016  16+  8.7/10
2        3                        Attack on Titan  2013  18+  9.0/10
3        4                       Better Call Saul  2015  18+  8.8/10
4        5                                   Dark  2017  16+  8.8/10
...    ...                                    ...   ...  ...     ...
5363  5713                       Paradise Islands  2017  NaN     NaN
5364  5714                         Mexico Untamed  2018  NaN     NaN
5365  5715                  Wild Centeral America  2020  NaN     NaN
5366  5716                            Wild Russia  2018  NaN     NaN
5367  5717  Fearless Adventures with Jack Randall  2018  NaN     NaN

     Rotten Tomatoes  Netflix  Hulu  Prime Video  Disney+  Type
0            100/100        1     0            0        0     1
1             96/100        1     0            0        0     1
2             95/100        1     1            0        0     1
3             94/100        1     0            0        0     1
4             93/100        1     0            0        0     1
...              ...      ...   ...          ...      ...   ...
5363          10/100        0     0            0        1     1
5364          10/100        0     0            0        1     1
5365          10/100        0     0            0        1     1
5366          10/100        0     0            0        1     1
5367          10/100        0     0            0        1     1

[5368 rows x 11 columns]
streaming_platform
Disney+        5368
Hulu           5368
Netflix        5368
Prime Video    5368
dtype: int64
streaming_platform
Disney+        16104
Hulu            5368
Netflix            0
Prime Video    10736
Name: IMDb, dtype: int64

##EX02
### Pandas Power

TBD (apres la pause)

In [ ]:
# Code here