<a href="https://colab.research.google.com/github/lapointe05/m1-miage/blob/Oussama-BOULIDAME/M1_MIAGE_TD_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://upload.wikimedia.org/wikipedia/fr/0/0b/Polytech_Lyon_logo.png" alt="drawing" height="200"/>

# Traitement de donn√©es & Programmation en Python
---

# TD 06

Traitement de donn√©es

Elements √† consulter:





Doc                                   |             Link
--------------------------------------|------------------------------------
Github Helper      | [>link<](#scrollTo=Github_101)
Python en 30 jours | [>link<](https://moncoachdata.com/courses/apprendre-python-en-30-jours/)
Get started with pandas | [>link<](https://colab.research.google.com/notebooks/snippets/pandas.ipynb)

## Intro

Le premier bloc devrait toujours contenir les installs/imports dont on aura besoin pour le reste

In [ ]:
# Installs
print("Python is awesome üëç")
import os
import json
from random import randint
import pandas as pd
import numpy as np

Python is awesome üëç

## EX01
### Dataframes

* Importer la librairie pandas
* lire dataset 'tv_shows.csv' dans une variable tv_data
* Afficher les 10 premieres lignes du dataset
* Cr√©er une colonne "sreaming_platform" qui contient le nom de la plateforme de streaming en se basant sur les colonnes (hulu, prime, disney, netflix)
* Drop les colonnes (hulu, prime, disney, netflix)
* Afficher le nombre de shows par plateforme de streaming
* Afficher la note moyenne (imdb) par plateforme de streaming
* Assigner a une variable top_shows, les meilleurs shows par plateforme de streaming et afficher cette derni√®re
> bonus 
* Faire un graphique avec le nombre de shows par ann√©e (sur Y, et sur l'axe X les ann√©es) par plateforme de streaming (en series). Libres sur le choix du graphique [help](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.bar.html)

In [34]:
# Code here
import pandas as pd

#1
tv_data = pd.read_csv("tv_shows.csv", sep='|')
#2
tv_data.head(10)
#3
col= tv_data.columns
platform=['Netflix','Hulu','Prime Video','Disney+']
col = ['ID','Title','Year','Age','IMDb','Rotten Tomatoes','Type']
data_streaming = pd.melt(tv_data,id_vars=col,value_vars=platform,var_name='streaming_platform')
print(data_streaming)
#4
tv_data = tv_data.drop(columns=['Netflix','Hulu','Prime Video','Disney+'])
#5
platform_nbre = data_streaming.groupby('streaming_platform').size()
print(platform_nbre)
#6
data_streaming['IMDb'] = data_streaming['IMDb'].str.split('/').str[0]
data_streaming['IMDb'] = data_streaming['IMDb'].astype(float)

moy_note = data_streaming.groupby('streaming_platform')['IMDb'].mean()

print(moy_note)

#7
top_shows = data_streaming.sort_values(by=['streaming_platform', 'IMDb'], ascending=False).groupby('streaming_platform').head(1)
print(top_shows)

         ID                                  Title  Year  Age    IMDb  \
0         1                           Breaking Bad  2008  18+  9.4/10
1         2                        Stranger Things  2016  16+  8.7/10
2         3                        Attack on Titan  2013  18+  9.0/10
3         4                       Better Call Saul  2015  18+  8.8/10
4         5                                   Dark  2017  16+  8.8/10
...     ...                                    ...   ...  ...     ...
21467  5713                       Paradise Islands  2017  NaN     NaN
21468  5714                         Mexico Untamed  2018  NaN     NaN
21469  5715                  Wild Centeral America  2020  NaN     NaN
21470  5716                            Wild Russia  2018  NaN     NaN
21471  5717  Fearless Adventures with Jack Randall  2018  NaN     NaN

      Rotten Tomatoes  Type streaming_platform  value
0             100/100     1            Netflix      1
1              96/100     1            Netflix      1
2              95/100     1            Netflix      1
3              94/100     1            Netflix      1
4              93/100     1            Netflix      1
...               ...   ...                ...    ...
21467          10/100     1            Disney+      1
21468          10/100     1            Disney+      1
21469          10/100     1            Disney+      1
21470          10/100     1            Disney+      1
21471          10/100     1            Disney+      1

[21472 rows x 9 columns]
streaming_platform
Disney+        5368
Hulu           5368
Netflix        5368
Prime Video    5368
dtype: int64
streaming_platform
Disney+        7.086019
Hulu           7.086019
Netflix        7.086019
Prime Video    7.086019
Name: IMDb, dtype: float64
         ID                              Title  Year Age  IMDb  \
14538  4054  The Secret World of Nature: Spain  2020  7+   9.6
3802   4054  The Secret World of Nature: Spain  2020  7+   9.6
9170   4054  The Secret World of Nature: Spain  2020  7+   9.6
19906  4054  The Secret World of Nature: Spain  2020  7+   9.6

      Rotten Tomatoes  Type streaming_platform  value
14538          51/100     1        Prime Video      1
3802           51/100     1            Netflix      0
9170           51/100     1               Hulu      0
19906          51/100     1            Disney+      0

##EX02
### Pandas Power

TBD (apres la pause)

In [ ]:
# Code here