<img src="https://upload.wikimedia.org/wikipedia/fr/0/0b/Polytech_Lyon_logo.png" alt="drawing" height="200"/>

# Traitement de donn√©es & Programmation en Python
---

# TD 05

Traitement de donn√©es

![Good luck!](https://media.tenor.com/YoFWnXe4V3kAAAAd/may-the-odds-be-ever-in-your-favor-may-the-odds-hunger-games.gif)
 
Elements √† consulter:





Doc                                   |             Link
--------------------------------------|------------------------------------
Github Helper      | [>link<](#scrollTo=Github_101)
Python en 30 jours | [>link<](https://moncoachdata.com/courses/apprendre-python-en-30-jours/)
Get started with pandas | [>link<](https://colab.research.google.com/notebooks/snippets/pandas.ipynb)

## Intro

Le premier bloc devrait toujours contenir les installs/imports dont on aura besoin pour le reste

In [1]:
# Installs
print("Python is awesome üëç")

Python is awesome üëç

In [399]:
# Imports
import os
import json
from random import randint
import pandas as pd
import numpy as np

In [2]:
x = np.array([[1, 2, 3], [4, 5, 6]], np.int32)

x.shape

(2, 3)

### Correction TD precedent

Partir d'un fichier csv et alimenter la binge watch list :
  > serie, plateform, nb_episodes, ann√©e_sortie, note

Puis print :

	 Nom de la s√©rie : Brooklyn Nine-Nine
	 Ann√©e de sortie : 2013

	 Nom de la s√©rie : The office
	 Ann√©e de sortie : 2005

In [384]:
def csv_to_dict(file_path, separator=";", row_limit=None):
    """
    Transforms a csv file, into a list of dictionaries

    Arguments:
        file_path  {str} : eg. /documents/file.txt
        separator  {str} : separator of fields, default (;)
        row_limit  {int} : limit the rows to be read, default None

    Returns list[dict]
    """

    with open(file_path, "r") as f:
        serie = {}
        serie_list = []
        for i, row in enumerate(f, 1):
            if i == 1:
                header = row.lower().strip().replace(' ','_').split(separator)
                # print("\nHeaders:", header,"\n")
            else:
                data = row.lower().strip().split(separator)
                # print("Data:",data)
                if len(header) == len(data):
                    for j, element in enumerate(header):
                        serie[header[j]] = data[j]
            # print(serie)
                serie_list.append(serie)
                serie = {}
            if i == row_limit:
                break
    return serie_list



file_path = "./netflix_titles-2.csv"
# file_path = "./tv_shows_pipe.csv"
limit = None
binge_watch_list = csv_to_dict(file_path,separator="|",row_limit=limit)
# for serie in binge_watch_list:
#   print(serie.get('title'))
# # Option 1 read some rows to see what we have

df = pd.DataFrame(binge_watch_list)
df["title"] = df["title"].str.title()
df.head(5)

column_name = 'release_year'
filter = df['release_year'] == '2005'
# df.query(f"`{column_name}` == '2003'")
df[filter]
# # serie, plateform, nb_episodes, ann√©e_sortie, note
# df2 = df.melt(id_vars=['title','year','imdb','rotten_tomatoes'],
#               var_name='plateform', 
#               value_vars=['netflix','hulu','prime_video','disney+'])
# df2.drop(['value'], axis=1)

NameError: name 'pd' is not defined

##EX01
### Numpy intro

* Cr√©er un vecteur depuis la liste ['Lyon', 'Paris', 'Montpellier']
    * Assigner le r√©sultat √† la variable `villes`
* Cr√©er une matrice depuis la liste de listes suivante: `[['Lyon', '69'], ['Paris', '75'], ['Montpellier','34']]`
    * Assigner le r√©sultat √† la variable `villes_departement`
* Assigner la taille du vecteur `villes` √† la variable `v_shape`
* Assigner la taille du tableau `villes_departement` √† la variable `vd_shape` 
* Afficher les r√©sultats

In [42]:
villes = np.array(['Lyon','Paris','Montpellier'])
print(villes)
villes_departement = np.array([['Lyon','69'],['Paris','75'],['Montpellier','34']])
print(villes_departement)
v_shape = len(villes)
print(v_shape)
vd_shape = len(villes_departement)
print(vd_shape)

['Lyon' 'Paris' 'Montpellier']
[['Lyon' '69']
 ['Paris' '75']
 ['Montpellier' '34']]
3
3

##EX02
### Numpy intro

#### Part 1

* Telecharger le dataset [cereal.csv](https://www.kaggle.com/datasets/crawford/80-cereals?select=cereal.csv) avec les colonnes suivantes :

```
['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
'rating']
```

* Afficher les deux premieres colonnes et toute les lignes
* Afficher la derni√®re colonne
* Afficher les 5 premieres lignes de la 4√®me colonne
* Assigner a une variable `corn_flakes_cals` le nombre de calories par 100 gr de c√©r√©ales de la marque Corn Flakes 
* Assigner le nom de la 3eme marque sur le dataset a une variabe `third_brand`
* Mettre dans une liste toutes les marques de c√©reales en utilisant `.tolist()` & afficher cette derni√®re
* Mettre les 10 premiere marques dans le fichiers dans une liste `first_ten_brands` & afficher cette derni√®re
> bonus 
* Convertir la colonne ratings en d√©cimale

In [39]:
import csv
import numpy as np
from io import StringIO
file_path = "./cereal.csv"
data = np.genfromtxt(
                    file_path,delimiter=",",dtype="str",autostrip=True
                    
                    )
print(data)

#les deux premi√®res lignes
print(f"Les deux premi√®res colonnes et toutes les lignes sont :{data[:,:2]}")
#la derni√®re colonne
print(f"la derni√®re colonne est  : {data[:,15]}")
#les deux premi√®res lignes de la quatri√®me colonne
print(f"Les deux premi√®res lignes de la 4√®me colonne : {data[:2,3]}")

#assignation des donn√©es de la colonne corn flakes
corn_flakes = (data[:,0]=='Corn Flakes')
corn_flakes_cals = data[corn_flakes,3]
print(corn_flakes_cals)

#assignation de la 3eme marque 
third_brand = (data[3,0])
print(third_brand)

#Mettre dans une liste toutes les marques
data_tolist = data[:,0].tolist()
print(data_tolist)

#Mettre les dix premi√®res marques dans une liste
first_ten_brands = data_tolist[0:9]
print(first_ten_brands)

print(data.shape) ## retourne (lignes, colonnes)

[['name' 'mfr' 'type' ... 'weight' 'cups' 'rating']
 ['100% Bran' 'N' 'C' ... '1' '0.33' '68.402973']
 ['100% Natural Bran' 'Q' 'C' ... '1' '1' '33.983679']
 ...
 ['Wheat Chex' 'R' 'C' ... '1' '0.67' '49.787445']
 ['Wheaties' 'G' 'C' ... '1' '1' '51.592193']
 ['Wheaties Honey Gold' 'G' 'C' ... '1' '0.75' '36.187559']]
Les deux premi√®res colonnes et toutes les lignes sont :[['name' 'mfr']
 ['100% Bran' 'N']
 ['100% Natural Bran' 'Q']
 ['All-Bran' 'K']
 ['All-Bran with Extra Fiber' 'K']
 ['Almond Delight' 'R']
 ['Apple Cinnamon Cheerios' 'G']
 ['Apple Jacks' 'K']
 ['Basic 4' 'G']
 ['Bran Chex' 'R']
 ['Bran Flakes' 'P']
 ["Cap'n'Crunch" 'Q']
 ['Cheerios' 'G']
 ['Cinnamon Toast Crunch' 'G']
 ['Clusters' 'G']
 ['Cocoa Puffs' 'G']
 ['Corn Chex' 'R']
 ['Corn Flakes' 'K']
 ['Corn Pops' 'K']
 ['Count Chocula' 'G']
 ["Cracklin' Oat Bran" 'K']
 ['Cream of Wheat (Quick)' 'N']
 ['Crispix' 'K']
 ['Crispy Wheat & Raisins' 'G']
 ['Double Chex' 'R']
 ['Froot Loops' 'K']
 ['Frosted Flakes' 'K']
 ['Frosted Mini-Wheats' 'K']
 ['Fruit & Fibre Dates; Walnuts; and Oats' 'P']
 ['Fruitful Bran' 'K']
 ['Fruity Pebbles' 'P']
 ['Golden Crisp' 'P']
 ['Golden Grahams' 'G']
 ['Grape Nuts Flakes' 'P']
 ['Grape-Nuts' 'P']
 ['Great Grains Pecan' 'P']
 ['Honey Graham Ohs' 'Q']
 ['Honey Nut Cheerios' 'G']
 ['Honey-comb' 'P']
 ['Just Right Crunchy  Nuggets' 'K']
 ['Just Right Fruit & Nut' 'K']
 ['Kix' 'G']
 ['Life' 'Q']
 ['Lucky Charms' 'G']
 ['Maypo' 'A']
 ['Muesli Raisins; Dates; & Almonds' 'R']
 ['Muesli Raisins; Peaches; & Pecans' 'R']
 ['Mueslix Crispy Blend' 'K']
 ['Multi-Grain Cheerios' 'G']
 ['Nut&Honey Crunch' 'K']
 ['Nutri-Grain Almond-Raisin' 'K']
 ['Nutri-grain Wheat' 'K']
 ['Oatmeal Raisin Crisp' 'G']
 ['Post Nat. Raisin Bran' 'P']
 ['Product 19' 'K']
 ['Puffed Rice' 'Q']
 ['Puffed Wheat' 'Q']
 ['Quaker Oat Squares' 'Q']
 ['Quaker Oatmeal' 'Q']
 ['Raisin Bran' 'K']
 ['Raisin Nut Bran' 'G']
 ['Raisin Squares' 'K']
 ['Rice Chex' 'R']
 ['Rice Krispies' 'K']
 ['Shredded Wheat' 'N']
 ["Shredded Wheat 'n'Bran" 'N']
 ['Shredded Wheat spoon size' 'N']
 ['Smacks' 'K']
 ['Special K' 'K']
 ['Strawberry Fruit Wheats' 'N']
 ['Total Corn Flakes' 'G']
 ['Total Raisin Bran' 'G']
 ['Total Whole Grain' 'G']
 ['Triples' 'G']
 ['Trix' 'G']
 ['Wheat Chex' 'R']
 ['Wheaties' 'G']
 ['Wheaties Honey Gold' 'G']]
la derni√®re colonne est  : ['rating' '68.402973' '33.983679' '59.425505' '93.704912' '34.384843'
 '29.509541' '33.174094' '37.038562' '49.120253' '53.313813' '18.042851'
 '50.764999' '19.823573' '40.400208' '22.736446' '41.445019' '45.863324'
 '35.782791' '22.396513' '40.448772' '64.533816' '46.895644' '36.176196'
 '44.330856' '32.207582' '31.435973' '58.345141' '40.917047' '41.015492'
 '28.025765' '35.252444' '23.804043' '52.076897' '53.371007' '45.811716'
 '21.871292' '31.072217' '28.742414' '36.523683' '36.471512' '39.241114'
 '45.328074' '26.734515' '54.850917' '37.136863' '34.139765' '30.313351'
 '40.105965' '29.924285' '40.692320' '59.642837' '30.450843' '37.840594'
 '41.503540' '60.756112' '63.005645' '49.511874' '50.828392' '39.259197'
 '39.703400' '55.333142' '41.998933' '40.560159' '68.235885' '74.472949'
 '72.801787' '31.230054' '53.131324' '59.363993' '38.839746' '28.592785'
 '46.658844' '39.106174' '27.753301' '49.787445' '51.592193' '36.187559']
Les deux premi√®res lignes de la 4√®me colonne : ['calories' '70']
['100']
All-Bran
['name', '100% Bran', '100% Natural Bran', 'All-Bran', 'All-Bran with Extra Fiber', 'Almond Delight', 'Apple Cinnamon Cheerios', 'Apple Jacks', 'Basic 4', 'Bran Chex', 'Bran Flakes', "Cap'n'Crunch", 'Cheerios', 'Cinnamon Toast Crunch', 'Clusters', 'Cocoa Puffs', 'Corn Chex', 'Corn Flakes', 'Corn Pops', 'Count Chocula', "Cracklin' Oat Bran", 'Cream of Wheat (Quick)', 'Crispix', 'Crispy Wheat & Raisins', 'Double Chex', 'Froot Loops', 'Frosted Flakes', 'Frosted Mini-Wheats', 'Fruit & Fibre Dates; Walnuts; and Oats', 'Fruitful Bran', 'Fruity Pebbles', 'Golden Crisp', 'Golden Grahams', 'Grape Nuts Flakes', 'Grape-Nuts', 'Great Grains Pecan', 'Honey Graham Ohs', 'Honey Nut Cheerios', 'Honey-comb', 'Just Right Crunchy  Nuggets', 'Just Right Fruit & Nut', 'Kix', 'Life', 'Lucky Charms', 'Maypo', 'Muesli Raisins; Dates; & Almonds', 'Muesli Raisins; Peaches; & Pecans', 'Mueslix Crispy Blend', 'Multi-Grain Cheerios', 'Nut&Honey Crunch', 'Nutri-Grain Almond-Raisin', 'Nutri-grain Wheat', 'Oatmeal Raisin Crisp', 'Post Nat. Raisin Bran', 'Product 19', 'Puffed Rice', 'Puffed Wheat', 'Quaker Oat Squares', 'Quaker Oatmeal', 'Raisin Bran', 'Raisin Nut Bran', 'Raisin Squares', 'Rice Chex', 'Rice Krispies', 'Shredded Wheat', "Shredded Wheat 'n'Bran", 'Shredded Wheat spoon size', 'Smacks', 'Special K', 'Strawberry Fruit Wheats', 'Total Corn Flakes', 'Total Raisin Bran', 'Total Whole Grain', 'Triples', 'Trix', 'Wheat Chex', 'Wheaties', 'Wheaties Honey Gold']
['name', '100% Bran', '100% Natural Bran', 'All-Bran', 'All-Bran with Extra Fiber', 'Almond Delight', 'Apple Cinnamon Cheerios', 'Apple Jacks', 'Basic 4']
(78, 16)

#### Part 2

* **Extraire** la premiere colonne du dataset et **la comparer** √† la valeur `'Special K'` Assigner le resultat √† une variable `special_k`
* Executer la commande `print(data[special_k])`
> bonus
* Faire la meme chose mais le filtre verifie que le manufacturer est Quaker Oats (lire la doc du dataset üòâ)
> bonus ¬≤
* Print le nom des marques dont le fabricant est `Quaker Oats` et qui contiennent **moins** de `10 grammes` de sucre par portion
* Ajouter une marque de c√©r√©ales "healthy" avec 0 grammes de sucre au dataset

In [272]:
#Extraire la premiere colonne
col1 = data[:,0]
#assignation des donn√©es de la colonne special K
special_k = (data[:,0]=='Special K')
print(f"Les special K sont : {data[special_k]}")

#le nom des marques dont le fabricant est Quaker Oats
#avec le filtre manfacturer

#ceux qui sont fabriqu√©s par quacker oats
qo = (data[:,1] =='Q' )
print(data[qo])
#assignation du sucre de ceux qui ont √©t√© cr√©ees par quacker oats
quacker_sugar = data[qo,9]
#changement en type int
quacker_oats = quacker_sugar.astype(int)
#print(quacker_oats)
#ceux qui ont moins de 10 calories
quacker_10 = list(filter(lambda i : True if i < 10 else False,quacker_oats))
print(f"moins de 10 calories sont : {quacker_10}")

#afficher le nom des marques dont le fabricant est Quaker Oats et qui contiennent moins de 10 grammes de sucres

marque = data[quacker_10,0]
print(f"le nom des marques dont le fabricant est Quaker Oats et qui contiennent moins de 10 grammes de sucres : {[marque]}")

Les special K sont : [['Special K' 'K' 'C' '110' '6' '0' '230' '1' '16' '3' '55' '25' '1' '1'
  '1' '53.131324']]
[['100% Natural Bran' 'Q' 'C' '120' '3' '5' '15' '2' '8' '8' '135' '0'
  '3' '1' '1' '33.983679']
 ["Cap'n'Crunch" 'Q' 'C' '120' '1' '2' '220' '0' '12' '12' '35' '25' '2'
  '1' '0.75' '18.042851']
 ['Honey Graham Ohs' 'Q' 'C' '120' '1' '2' '220' '1' '12' '11' '45' '25'
  '2' '1' '1' '21.871292']
 ['Life' 'Q' 'C' '100' '4' '2' '150' '2' '12' '6' '95' '25' '2' '1'
  '0.67' '45.328074']
 ['Puffed Rice' 'Q' 'C' '50' '1' '0' '0' '0' '13' '0' '15' '0' '3' '0.5'
  '1' '60.756112']
 ['Puffed Wheat' 'Q' 'C' '50' '2' '0' '0' '1' '10' '0' '50' '0' '3' '0.5'
  '1' '63.005645']
 ['Quaker Oat Squares' 'Q' 'C' '100' '4' '1' '135' '2' '14' '6' '110'
  '25' '3' '1' '0.5' '49.511874']
 ['Quaker Oatmeal' 'Q' 'H' '100' '5' '2' '0' '2.7' '-1' '-1' '110' '0'
  '1' '1' '0.67' '50.828392']]
moins de 10 calories sont : [8, 6, 0, 0, 6, -1]
le nom des marques dont le fabricant est Quaker Oats et qui contiennent moins de 10 grammes de sucres : [array(['Basic 4', 'Apple Cinnamon Cheerios', 'name', 'name',
       'Apple Cinnamon Cheerios', 'Wheaties Honey Gold'], dtype='<U38')]

#### Part 3

Sur le m√™me dataset, √† l'aide d'une boucle `for`:


*   Cr√©er un dictionnaire avec la moyenne de sucre par Fabricant de c√©rales
*   Trouver la marque de c√©reales qui contient le plus de sucre par portion

In [381]:
marques = {"Nabisco":"N","Quaker Oats":"Q","Kelloggs":"K","Ralston Purina":"R","Post":"P","General Mills":"G","American Home Food Products":"A"}
marque_sucre = {}
for  i in marques:
    marque_sucre[i]= np.mean((data[data[:,1]== marques[i]])[:,9].astype(float))
print(f"Les diff√©rente marques avec leurs moyennes de sucre est : {marque_sucre}")
ma = ["Nabisco","Quaker Oats","Kelloggs","Ralston Purina","Post","General Mills","American Home Food Products"]
m = max([marque_sucre[i] for i in ma if i in ma])
for i,j in marque_sucre.items() :
    if j == m:
        print(f"La marque de cr√©ales la plus sucr√©e est {i} avec une moyenne de {j}")

Les diff√©rente marques avec leurs moyennes de sucre est : {'Nabisco': 1.8333333333333333, 'Quaker Oats': 5.25, 'Kelloggs': 7.565217391304348, 'Ralston Purina': 6.125, 'Post': 8.777777777777779, 'General Mills': 7.954545454545454, 'American Home Food Products': 3.0}
La marque de cr√©ales la plus sucr√©e est Post avec une moyenne de 8.777777777777779

In [367]:
marques = {"Nabisco":"N","Quaker Oats":"Q","Kelloggs":"K","Ralston Purina":"R","Post":"P","General Mills":"G","American Home Food Products":"A"}
marque_sucre = {}
for  i in marques:
    marque_sucre[i]= np.mean((data[data[:,1]== marques[i]])[:,9].astype(float))
print(f"Les diff√©rente marques avec leurs moyennes de sucre{marque_sucre}")
print(f"La marque qui contiet le plus de sucres {marque_sucre}")

Les diff√©rente marques avec leurs moyennes de sucre{'Nabisco': 1.8333333333333333, 'Quaker Oats': 5.25, 'Kelloggs': 7.565217391304348, 'Ralston Purina': 6.125, 'Post': 8.777777777777779, 'General Mills': 7.954545454545454, 'American Home Food Products': 3.0}
La marque qui contiet le plus de sucres{'Nabisco': 1.8333333333333333, 'Quaker Oats': 5.25, 'Kelloggs': 7.565217391304348, 'Ralston Purina': 6.125, 'Post': 8.777777777777779, 'General Mills': 7.954545454545454, 'American Home Food Products': 3.0}

## EX03
### Dataframes

Refaire l'exo du TD 4 (fichier des series) en utilisant la librairie NumPy.

In [404]:
import os
import json
from random import randint
import pandas as pd
import numpy as np
file_path = "./netflix_titles.csv"
data = np.genfromtxt(
                    file_path,delimiter=",",dtype="str",autostrip=True
                    
                    )
print(data)

# Repartir sur une nouvelle branche
git checkout main
# Mettre √† jour notre branche locale
git pull origin main
# Recr√©er une branche pour le TD 05
git checkout -b branch_name_td05
# Dupliquer le fichier du td et rajouter en suffix son nom
cd 'chemin/m1-miage/'
cp 'src/to_do/td_05/td_05.ipynb' 'src/done/td_05/td_05_nom_prenom.ipynb'
# Faire le travail necessaire sur votre fichier et commit et push
git add 'src/done/td_05/td_05_nom_prenom.ipynb'
git commit -m 'message descriptif du travail fait'
git push --set-upstream origin nom_branche
# Faire une pull request