<img src="https://upload.wikimedia.org/wikipedia/fr/0/0b/Polytech_Lyon_logo.png" alt="drawing" height="200"/>

# Traitement de donn√©es & Programmation en Python
---

# TD 05

Traitement de donn√©es

![Good luck!](https://media.tenor.com/YoFWnXe4V3kAAAAd/may-the-odds-be-ever-in-your-favor-may-the-odds-hunger-games.gif)
 
Elements √† consulter:





Doc                                   |             Link
--------------------------------------|------------------------------------
Github Helper      | [>link<](#scrollTo=Github_101)
Python en 30 jours | [>link<](https://moncoachdata.com/courses/apprendre-python-en-30-jours/)
Get started with pandas | [>link<](https://colab.research.google.com/notebooks/snippets/pandas.ipynb)

## Intro

Le premier bloc devrait toujours contenir les installs/imports dont on aura besoin pour le reste

In [ ]:
# Installs
print("Python is awesome üëç")

Python is awesome üëç

In [1]:
# Imports
import os
import json
from random import randint
import pandas as pd
import numpy as np

In [6]:
x = np.array([[1, 2, 3], [4, 5, 6]], np.int32)

x.shape

(2, 3)

### Correction TD precedent

Partir d'un fichier csv et alimenter la binge watch list :
  > serie, plateform, nb_episodes, ann√©e_sortie, note

Puis print :

	 Nom de la s√©rie : Brooklyn Nine-Nine
	 Ann√©e de sortie : 2013

	 Nom de la s√©rie : The office
	 Ann√©e de sortie : 2005

In [4]:
def csv_to_dict(file_path, separator=";", row_limit=None):
    """
    Transforms a csv file, into a list of dictionaries

    Arguments:
        file_path  {str} : eg. /documents/file.txt
        separator  {str} : separator of fields, default (;)
        row_limit  {int} : limit the rows to be read, default None

    Returns list[dict]
    """

    with open(file_path, "r") as f:
        serie = {}
        serie_list = []
        for i, row in enumerate(f, 1):
            if i == 1:
                header = row.lower().strip().replace(' ','_').split(separator)
                # print("\nHeaders:", header,"\n")
            else:
                data = row.lower().strip().split(separator)
                # print("Data:",data)
                if len(header) == len(data):
                    for j, element in enumerate(header):
                        serie[header[j]] = data[j]
            # print(serie)
                serie_list.append(serie)
                serie = {}
            if i == row_limit:
                break
    return serie_list



file_path = "./netflix_titles.csv"
# file_path = "./tv_shows_pipe.csv"
limit = None
binge_watch_list = csv_to_dict(file_path,separator="|",row_limit=limit)
# for serie in binge_watch_list:
#   print(serie.get('title'))
# # Option 1 read some rows to see what we have

#df = pd.DataFrame(binge_watch_list)
#df["title"] = df["title"].str.title()
#df.head(5)

#column_name = 'release_year'
#filter = df['release_year'] == '2005'
# df.query(f"`{column_name}` == '2003'")
#df[filter]
# # serie, plateform, nb_episodes, ann√©e_sortie, note
# df2 = df.melt(id_vars=['title','year','imdb','rotten_tomatoes'],
#               var_name='plateform', 
#               value_vars=['netflix','hulu','prime_video','disney+'])
# df2.drop(['value'], axis=1)

UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 2861: character maps to <undefined>

##EX01
### Numpy intro

* Cr√©er un vecteur depuis la liste ['Lyon', 'Paris', 'Montpellier']
    * Assigner le r√©sultat √† la variable `villes`
* Cr√©er une matrice depuis la liste de listes suivante: `[['Lyon', '69'], ['Paris', '75'], ['Montpellier','34']]`
    * Assigner le r√©sultat √† la variable `villes_departement`
* Assigner la taille du vecteur `villes` √† la variable `v_shape`
* Assigner la taille du tableau `villes_departement` √† la variable `vd_shape` 
* Afficher les r√©sultats

In [10]:
villes = np.array(['Lyon','Paris','Montpellier'])
villes_department = np.array([['Lyon','69'],['Paris','75'],['Montpellier','34']])
v_shape = np.size(villes)
vd_shape = np.size(villes_department)
print(villes)
print(villes_department)
print(v_shape)
print(vd_shape)

['Lyon' 'Paris' 'Montpellier']
[['Lyon' '69']
 ['Paris' '75']
 ['Montpellier' '34']]
3
6

##EX02
### Numpy intro

#### Part 1

* Telecharger le dataset [cereal.csv](https://www.kaggle.com/datasets/crawford/80-cereals?select=cereal.csv) avec les colonnes suivantes :

```
['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
'rating']
```

* Afficher les deux premieres colonnes et toute les lignes
* Afficher la derni√®re colonne
* Afficher les 5 premieres lignes de la 4√®me colonne
* Assigner a une variable `corn_flakes_cals` le nombre de calories par 100 gr de c√©r√©ales de la marque Corn Flakes 
* Assigner le nom de la 3eme marque sur le dataset a une variabe `third_brand`
* Mettre dans une liste toutes les marques de c√©reales en utilisant `.tolist()` & afficher cette derni√®re
* Mettre les 10 premiere marques dans le fichiers dans une liste `first_ten_brands` & afficher cette derni√®re
> bonus 
* Convertir la colonne ratings en d√©cimale

In [46]:
# Code here
file_path = "./cereal.csv"
data = np.genfromtxt(file_path,delimiter=',',dtype='str',autostrip=True)
# print(data[:,:1])
# print(data[data.shape[0]-1,:])
# print(data[:4,3])

corn_flakes = (data[:,0] == 'Corn Flakes')
corn_flakes_cals = data[corn_flakes, 3]
# print(corn_flakes_cals)

third_brand = data[3,0]
# print(third_brand)

brands = data[1:,0].tolist()
# print(brands)

first_ten_brands = data[1:11,0]
# print(first_ten_brands)

#print(data[1:,15].astype(float))
print(data.shape) ## retourne (lignes, colonnes)

(78, 16)

#### Part 2

* **Extraire** la premiere colonne du dataset et **la comparer** √† la valeur `'Special K'` Assigner le resultat √† une variable `special_k`
* Executer la commande `print(data[special_k])`
> bonus
* Faire la meme chose mais le filtre verifie que le manufacturer est Quaker Oats (lire la doc du dataset üòâ)
> bonus ¬≤
* Print le nom des marques dont le fabricant est `Quaker Oats` et qui contiennent **moins** de `10 grammes` de sucre par portion
* Ajouter une marque de c√©r√©ales "healthy" avec 0 grammes de sucre au dataset

In [47]:
special_k = (data[1:,0] == 'Special K')
# print(special_k)


quaker_oaks = (data[1:,1] == 'Q')
# print(quaker_oaks)

quaker_dix_g = (quaker_oaks & (data[1:,9].astype(int) <= 10))
# print(quaker_dix_g)

healthy = np.array(['healthy','','','','','','','','','0','','','','','',''])
data = np.vstack([data,healthy])
print(data)

[['name' 'mfr' 'type' ... 'weight' 'cups' 'rating']
 ['100% Bran' 'N' 'C' ... '1' '0.33' '68.402973']
 ['100% Natural Bran' 'Q' 'C' ... '1' '1' '33.983679']
 ...
 ['Wheaties' 'G' 'C' ... '1' '1' '51.592193']
 ['Wheaties Honey Gold' 'G' 'C' ... '1' '0.75' '36.187559']
 ['healthy' '' '' ... '' '' '']]

#### Part 3

Sur le m√™me dataset, √† l'aide d'une boucle `for`:


*   Cr√©er un dictionnaire avec la moyenne de sucre par Fabricant de c√©rales
*   Trouver la marque de c√©reales qui contient le plus de sucre par portion

array([['100% Bran', 'Nabisco', 'C', ..., '1', '0.33', '68.402973'],
       ['100% Natural Bran', 'Quaker Oats', 'C', ..., '1', '1',
        '33.983679'],
       ['All-Bran', 'Kelloggs', 'C', ..., '1', '0.33', '59.425505'],
       ...,
       ['Wheat Chex', 'Ralston Purina', 'C', ..., '1', '0.67',
        '49.787445'],
       ['Wheaties', 'General Mills', 'C', ..., '1', '1', '51.592193'],
       ['Wheaties Honey Gold', 'General Mills', 'C', ..., '1', '0.75',
        '36.187559']], dtype='<U75')

{'Ralston Purina': 6.125, 'Nabisco': 1.8333333333333333, 'General Mills': 7.954545454545454, 'Kelloggs': 7.565217391304348, 'American Home Food Products': 3.0, 'Post': 8.777777777777779, 'Quaker Oats': 5.25}

## EX03
### Dataframes

Refaire l'exo du TD 4 (fichier des series) en utilisant la librairie NumPy.

In [ ]:
# Code here

## Github 101

```shell
# Repartir sur une nouvelle branche
git checkout main
# Mettre √† jour notre branche locale
git pull origin main
# Recr√©er une branche pour le TD 05
git checkout -b branch_name_td05
# Dupliquer le fichier du td et rajouter en suffix son nom
cd 'chemin/m1-miage/'
cp 'src/to_do/td_05/td_05.ipynb' 'src/done/td_05/td_05_nom_prenom.ipynb'
# Faire le travail necessaire sur votre fichier et commit et push
git add 'src/done/td_05/td_05_nom_prenom.ipynb'
git commit -m 'message descriptif du travail fait'
git push --set-upstream origin nom_branche
# Faire une pull request
```

[>>>PULL REQUEST<<<](https://github.com/lapointe05/m1-miage/pulls)