<img src="https://upload.wikimedia.org/wikipedia/fr/0/0b/Polytech_Lyon_logo.png" alt="drawing" height="200"/>

# Traitement de donn√©es & Programmation en Python
---

# TD 05

Traitement de donn√©es

![Good luck!](https://media.tenor.com/YoFWnXe4V3kAAAAd/may-the-odds-be-ever-in-your-favor-may-the-odds-hunger-games.gif)
 
Elements √† consulter:





Doc                                   |             Link
--------------------------------------|------------------------------------
Github Helper      | [>link<](#scrollTo=Github_101)
Python en 30 jours | [>link<](https://moncoachdata.com/courses/apprendre-python-en-30-jours/)
Get started with pandas | [>link<](https://colab.research.google.com/notebooks/snippets/pandas.ipynb)

## Intro

Le premier bloc devrait toujours contenir les installs/imports dont on aura besoin pour le reste

In [8]:
# Installs
print("Python is awesome üëç")

Python is awesome üëç

In [9]:
# Imports
import os
import json
from random import randint
import pandas as pd
import numpy as np

In [10]:
x = np.array([[1, 2, 3], [4, 5, 6]], np.int32)

x.shape

(2, 3)

### Correction TD precedent

Partir d'un fichier csv et alimenter la binge watch list :
  > serie, plateform, nb_episodes, ann√©e_sortie, note

Puis print :

	 Nom de la s√©rie : Brooklyn Nine-Nine
	 Ann√©e de sortie : 2013

	 Nom de la s√©rie : The office
	 Ann√©e de sortie : 2005

In [11]:
def csv_to_dict(file_path, separator=";", row_limit=None):
    """
    Transforms a csv file, into a list of dictionaries

    Arguments:
        file_path  {str} : eg. /documents/file.txt
        separator  {str} : separator of fields, default (;)
        row_limit  {int} : limit the rows to be read, default None

    Returns list[dict]
    """

    with open(file_path, "r") as f:
        serie = {}
        serie_list = []
        for i, row in enumerate(f, 1):
            if i == 1:
                header = row.lower().strip().replace(' ','_').split(separator)
                # print("\nHeaders:", header,"\n")
            else:
                data = row.lower().strip().split(separator)
                # print("Data:",data)
                if len(header) == len(data):
                    for j, element in enumerate(header):
                        serie[header[j]] = data[j]
            # print(serie)
                serie_list.append(serie)
                serie = {}
            if i == row_limit:
                break
    return serie_list



file_path = "./netflix_titles.csv"
# file_path = "./tv_shows_pipe.csv"
limit = None
binge_watch_list = csv_to_dict(file_path,separator="|",row_limit=limit)
# for serie in binge_watch_list:
#   print(serie.get('title'))
# # Option 1 read some rows to see what we have

df = pd.DataFrame(binge_watch_list)
df["title"] = df["title"].str.title()
df.head(5)

column_name = 'release_year'
filter = df['release_year'] == '2005'
# df.query(f"`{column_name}` == '2003'")
df[filter]
# # serie, plateform, nb_episodes, ann√©e_sortie, note
# df2 = df.melt(id_vars=['title','year','imdb','rotten_tomatoes'],
#               var_name='plateform', 
#               value_vars=['netflix','hulu','prime_video','disney+'])
# df2.drop(['value'], axis=1)

FileNotFoundError: [Errno 2] No such file or directory: './netflix_titles.csv'

##EX01
### Numpy intro

* Cr√©er un vecteur depuis la liste ['Lyon', 'Paris', 'Montpellier']
    * Assigner le r√©sultat √† la variable `villes`
* Cr√©er une matrice depuis la liste de listes suivante: `[['Lyon', '69'], ['Paris', '75'], ['Montpellier','34']]`
    * Assigner le r√©sultat √† la variable `villes_departement`
* Assigner la taille du vecteur `villes` √† la variable `v_shape`
* Assigner la taille du tableau `villes_departement` √† la variable `vd_shape` 
* Afficher les r√©sultats

In [90]:
# Liste villes

liste_villes = ['Lyon','Paris','Montpellier']

villes = np.array(liste_villes)

print(f'Voici le vecteur villes: {villes}\n\n')


# Liste villes d√©partements


mat_villes_dep = [['Lyon', '69'], ['Paris', '75'], ['Montpellier','34']]

villes_departement = np.array(mat_villes_dep)

print(f'Voici le vecteur villes d√©partement: {villes_departement}\n\n')


# Tailles


v_shape = villes.shape[0]

vd_shape = villes_departement.shape[0]

print(f'Le tableau villes a une taille de {v_shape} et villes d√©partement une taille de {vd_shape}.')

Voici le vecteur villes: ['Lyon' 'Paris' 'Montpellier']


Voici le vecteur villes d√©partement: [['Lyon' '69']
 ['Paris' '75']
 ['Montpellier' '34']]


Le tableau villes a une taille de 3 et villes d√©partement une taille de 3.

##EX02
### Numpy intro

#### Part 1

* Telecharger le dataset [cereal.csv](https://www.kaggle.com/datasets/crawford/80-cereals?select=cereal.csv) avec les colonnes suivantes :

```
['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
'rating']
```

* Afficher les deux premieres colonnes et toute les lignes
* Afficher la derni√®re colonne
* Afficher les 5 premieres lignes de la 4√®me colonne
* Assigner a une variable `corn_flakes_cals` le nombre de calories par 100 gr de c√©r√©ales de la marque Corn Flakes 
* Assigner le nom de la 3eme marque sur le dataset a une variabe `third_brand`
* Mettre dans une liste toutes les marques de c√©reales en utilisant `.tolist()` & afficher cette derni√®re
* Mettre les 10 premiere marques dans le fichiers dans une liste `first_ten_brands` & afficher cette derni√®re
> bonus 
* Convertir la colonne ratings en d√©cimale

In [106]:
    # Code here
    
file_path = "C:/Users/a.aulagnier/Documents/Cours/MIAGE/Data/cereal.csv" # recompile pas stp

data = np.genfromtxt(
    
                      file_path,
    
    dtype = None,
    
    delimiter = ',',
    
    filling_values = None,
    
    # names = True # le param√®tre avait l'air cool mais √ßa retournait des tuples dans une array T_T √ßa m'a pris 1h
    
    encoding = None
    
                     )

print(f'Les deux premiers √©l√©ments sont:\n{data[:2]}\n') # retourne les deux premiers √©l√©ments

print(f'Voici la derni√®re colonne:\n{data[0,-1]}\n') # je savais pas si c'√©tait √ßa ou data[:,-1] (un peu moins beau, mais plus exhaustif ^^'')

print(f'Les cinq premi√®res lignes de la quatri√®me colonne sont:\n{data[:5, 3]}')

Les deux premiers √©l√©ments sont:
[['name' 'mfr' 'type' 'calories' 'protein' 'fat' 'sodium' 'fiber' 'carbo'
  'sugars' 'potass' 'vitamins' 'shelf' 'weight' 'cups' 'rating']
 ['100% Bran' 'N' 'C' '70' '4' '1' '130' '10' '5' '6' '280' '25' '3' '1'
  '0.33' '68.402973']]

Voici la derni√®re colonne:
rating

Les cinq premi√®res lignes de la quatri√®me colonne sont:
['calories' '70' '120' '70' '50']

Pour 100g, les c√©r√©ales de la marque Corn Flakes ont 1 cal.

Le nom de la troisi√®me marque est All-Bran.

In [107]:
corn_flakes_cals = int(data[(data[:,0]=='Corn Flakes'),3])//100

print(f'\nPour 100g, les c√©r√©ales de la marque Corn Flakes ont {corn_flakes_cals} cal.')

Pour 100g, les c√©r√©ales de la marque Corn Flakes ont 1 cal.

In [108]:
third_brand = data[3,(data[0,:]=='name')]

print(f'\nLe nom de la troisi√®me marque est {third_brand[0]}.')

Le nom de la troisi√®me marque est All-Bran.

In [155]:
# Cette fonction est utile pour transformer des listes de listes en listes (une dimension), cas rencontr√© ci-dessous

def flatten_list(l):
    
    flat_list = [item for sublist in l for item in sublist]
    
    return flat_list

In [160]:
all_brands = flatten_list(data[1:,(data[0,:]=='name')].tolist())

print(f'Voici la liste de toutes les marques: {all_brands}')

Voici la liste de toutes les marques: ['100% Bran', '100% Natural Bran', 'All-Bran', 'All-Bran with Extra Fiber', 'Almond Delight', 'Apple Cinnamon Cheerios', 'Apple Jacks', 'Basic 4', 'Bran Chex', 'Bran Flakes', "Cap'n'Crunch", 'Cheerios', 'Cinnamon Toast Crunch', 'Clusters', 'Cocoa Puffs', 'Corn Chex', 'Corn Flakes', 'Corn Pops', 'Count Chocula', "Cracklin' Oat Bran", 'Cream of Wheat (Quick)', 'Crispix', 'Crispy Wheat & Raisins', 'Double Chex', 'Froot Loops', 'Frosted Flakes', 'Frosted Mini-Wheats', 'Fruit & Fibre Dates; Walnuts; and Oats', 'Fruitful Bran', 'Fruity Pebbles', 'Golden Crisp', 'Golden Grahams', 'Grape Nuts Flakes', 'Grape-Nuts', 'Great Grains Pecan', 'Honey Graham Ohs', 'Honey Nut Cheerios', 'Honey-comb', 'Just Right Crunchy  Nuggets', 'Just Right Fruit & Nut', 'Kix', 'Life', 'Lucky Charms', 'Maypo', 'Muesli Raisins; Dates; & Almonds', 'Muesli Raisins; Peaches; & Pecans', 'Mueslix Crispy Blend', 'Multi-Grain Cheerios', 'Nut&Honey Crunch', 'Nutri-Grain Almond-Raisin', 'Nutri-grain Wheat', 'Oatmeal Raisin Crisp', 'Post Nat. Raisin Bran', 'Product 19', 'Puffed Rice', 'Puffed Wheat', 'Quaker Oat Squares', 'Quaker Oatmeal', 'Raisin Bran', 'Raisin Nut Bran', 'Raisin Squares', 'Rice Chex', 'Rice Krispies', 'Shredded Wheat', "Shredded Wheat 'n'Bran", 'Shredded Wheat spoon size', 'Smacks', 'Special K', 'Strawberry Fruit Wheats', 'Total Corn Flakes', 'Total Raisin Bran', 'Total Whole Grain', 'Triples', 'Trix', 'Wheat Chex', 'Wheaties', 'Wheaties Honey Gold']

In [164]:
first_ten_brands = flatten_list(data[1:10,(data[0,:]=='name')].tolist())

print(f'\nVoici les dix premi√®res marques: {first_ten_brands}\n')

Voici les dix premi√®res marques: ['100% Bran', '100% Natural Bran', 'All-Bran', 'All-Bran with Extra Fiber', 'Almond Delight', 'Apple Cinnamon Cheerios', 'Apple Jacks', 'Basic 4', 'Bran Chex']

In [158]:
from decimal import Decimal # avec cette biblioth√®que, nous allons pouvoir changer la cha√Æne de caract√®res en d√©cimal
# avec 2 chiffres apr√®s la virgule

notes = flatten_list(data[1:,(data[0,:]=='rating')].tolist())

notes_dec = []

for i in range(len(notes)):
    
    inote = Decimal(notes[i])

    notes_dec.append(round(inote,2)) # On r√©duit √† 2 d√©cimales pour une meilleure lisibilit√©


for j in notes_dec:
    
    print(j) # Les notes sont affich√©es comme ligne par ligne

68.40
33.98
59.43
93.70
34.38
29.51
33.17
37.04
49.12
53.31
18.04
50.76
19.82
40.40
22.74
41.45
45.86
35.78
22.40
40.45
64.53
46.90
36.18
44.33
32.21
31.44
58.35
40.92
41.02
28.03
35.25
23.80
52.08
53.37
45.81
21.87
31.07
28.74
36.52
36.47
39.24
45.33
26.73
54.85
37.14
34.14
30.31
40.11
29.92
40.69
59.64
30.45
37.84
41.50
60.76
63.01
49.51
50.83
39.26
39.70
55.33
42.00
40.56
68.24
74.47
72.80
31.23
53.13
59.36
38.84
28.59
46.66
39.11
27.75
49.79
51.59
36.19

#### Part 2

* **Extraire** la premiere colonne du dataset et **la comparer** √† la valeur `'Special K'` Assigner le resultat √† une variable `special_k`
* Executer la commande `print(data[special_k])`
> bonus
* Faire la meme chose mais le filtre verifie que le manufacturer est Quaker Oats (lire la doc du dataset üòâ)
> bonus ¬≤
* Print le nom des marques dont le fabricant est `Quaker Oats` et qui contiennent **moins** de `10 grammes` de sucre par portion
* Ajouter une marque de c√©r√©ales "healthy" avec 0 grammes de sucre au dataset

In [169]:
# Special K <<<< Miel Pop's mais bon

special_k = (data[:,0] == 'Special K') # Comparaison de tous les premiers √©l√©ments(ie les colonnes) √† 'Special K'

print(f'\nVoici les informations de Special K: {data[special_k].tolist()}')

print(f'\nAvec le flatenning de liste: {flatten_list(data[special_k])}')

Voici les informations de Special K: [['Special K', 'K', 'C', '110', '6', '0', '230', '1', '16', '3', '55', '25', '1', '1', '1', '53.131324']]

Avec le flatenning de liste: ['Special K', 'K', 'C', '110', '6', '0', '230', '1', '16', '3', '55', '25', '1', '1', '1', '53.131324']

In [178]:
manufacturer = (data[0,:] == 'mfr')

quaker_oats = flatten_list((data[:,manufacturer] == 'Q'))

print(f"\n Voici l'ensemble des c√©r√©ales dont le fabricant est Quaker Oats: {data[quaker_oats]}\n")

 Voici l'ensemble des c√©r√©ales dont le fabricant est Quaker Oats: [['100% Natural Bran' 'Q' 'C' '120' '3' '5' '15' '2' '8' '8' '135' '0'
  '3' '1' '1' '33.983679']
 ["Cap'n'Crunch" 'Q' 'C' '120' '1' '2' '220' '0' '12' '12' '35' '25' '2'
  '1' '0.75' '18.042851']
 ['Honey Graham Ohs' 'Q' 'C' '120' '1' '2' '220' '1' '12' '11' '45' '25'
  '2' '1' '1' '21.871292']
 ['Life' 'Q' 'C' '100' '4' '2' '150' '2' '12' '6' '95' '25' '2' '1'
  '0.67' '45.328074']
 ['Puffed Rice' 'Q' 'C' '50' '1' '0' '0' '0' '13' '0' '15' '0' '3' '0.5'
  '1' '60.756112']
 ['Puffed Wheat' 'Q' 'C' '50' '2' '0' '0' '1' '10' '0' '50' '0' '3' '0.5'
  '1' '63.005645']
 ['Quaker Oat Squares' 'Q' 'C' '100' '4' '1' '135' '2' '14' '6' '110'
  '25' '3' '1' '0.5' '49.511874']
 ['Quaker Oatmeal' 'Q' 'H' '100' '5' '2' '0' '2.7' '-1' '-1' '110' '0'
  '1' '1' '0.67' '50.828392']]

In [201]:
# SUUUUUUUCRE

sucre = data[0,:] == 'sugars'
    
few_sugar = list(filter(lambda x: True if int(x[sucre]) < 10 else False, data[quaker_oats]))

for i in few_sugar:
    
    print(i)

['100% Natural Bran' 'Q' 'C' '120' '3' '5' '15' '2' '8' '8' '135' '0' '3'
 '1' '1' '33.983679']
['Life' 'Q' 'C' '100' '4' '2' '150' '2' '12' '6' '95' '25' '2' '1' '0.67'
 '45.328074']
['Puffed Rice' 'Q' 'C' '50' '1' '0' '0' '0' '13' '0' '15' '0' '3' '0.5'
 '1' '60.756112']
['Puffed Wheat' 'Q' 'C' '50' '2' '0' '0' '1' '10' '0' '50' '0' '3' '0.5'
 '1' '63.005645']
['Quaker Oat Squares' 'Q' 'C' '100' '4' '1' '135' '2' '14' '6' '110' '25'
 '3' '1' '0.5' '49.511874']
['Quaker Oatmeal' 'Q' 'H' '100' '5' '2' '0' '2.7' '-1' '-1' '110' '0' '1'
 '1' '0.67' '50.828392']

#### Part 3

Sur le m√™me dataset, √† l'aide d'une boucle `for`:


*   Cr√©er un dictionnaire avec la moyenne de sucre par Fabricant de c√©rales
*   Trouver la marque de c√©reales qui contient le plus de sucre par portion

In [223]:
import statistics

dist_man = np.unique(flatten_list(data[1:,manufacturer])) # on s√©lectionne une liste distincte des fabricants

man_avg = dict.fromkeys(dist_man)

for i in dist_man:
    
    man_avg[i] = 1
    
test = data[flatten_list(data[:,manufacturer] == i)][:,:]
    

print(test)

[['Almond Delight' 'R' 'C' '110' '2' '2' '200' '1' '14' '8' '-1' '25' '3'
  '1' '0.75' '34.384843']
 ['Bran Chex' 'R' 'C' '90' '2' '1' '200' '4' '15' '6' '125' '25' '1' '1'
  '0.67' '49.120253']
 ['Corn Chex' 'R' 'C' '110' '2' '0' '280' '0' '22' '3' '25' '25' '1' '1'
  '1' '41.445019']
 ['Double Chex' 'R' 'C' '100' '2' '0' '190' '1' '18' '5' '80' '25' '3'
  '1' '0.75' '44.330856']
 ['Muesli Raisins; Dates; & Almonds' 'R' 'C' '150' '4' '3' '95' '3' '16'
  '11' '170' '25' '3' '1' '1' '37.136863']
 ['Muesli Raisins; Peaches; & Pecans' 'R' 'C' '150' '4' '3' '150' '3'
  '16' '11' '170' '25' '3' '1' '1' '34.139765']
 ['Rice Chex' 'R' 'C' '110' '1' '0' '240' '0' '23' '2' '30' '25' '1' '1'
  '1.13' '41.998933']
 ['Wheat Chex' 'R' 'C' '100' '3' '1' '230' '3' '17' '3' '115' '25' '1'
  '1' '0.67' '49.787445']]

{'Ralston Purina': 6.125, 'Nabisco': 1.8333333333333333, 'General Mills': 7.954545454545454, 'Kelloggs': 7.565217391304348, 'American Home Food Products': 3.0, 'Post': 8.777777777777779, 'Quaker Oats': 5.25}

## EX03
### Dataframes

Refaire l'exo du TD 4 (fichier des series) en utilisant la librairie NumPy.

In [ ]:
# Code here

## Github 101

```shell
# Repartir sur une nouvelle branche
git checkout main
# Mettre √† jour notre branche locale
git pull origin main
# Recr√©er une branche pour le TD 05
git checkout -b branch_name_td05
# Dupliquer le fichier du td et rajouter en suffix son nom
cd 'chemin/m1-miage/'
cp 'src/to_do/td_05/td_05.ipynb' 'src/done/td_05/td_05_nom_prenom.ipynb'
# Faire le travail necessaire sur votre fichier et commit et push
git add 'src/done/td_05/td_05_nom_prenom.ipynb'
git commit -m 'message descriptif du travail fait'
git push --set-upstream origin nom_branche
# Faire une pull request
```

[>>>PULL REQUEST<<<](https://github.com/lapointe05/m1-miage/pulls)