<img src="https://upload.wikimedia.org/wikipedia/fr/0/0b/Polytech_Lyon_logo.png" alt="drawing" height="200"/>

# Traitement de données & Programmation en Python
---

# TD 05

Traitement de données

![Good luck!](https://media.tenor.com/YoFWnXe4V3kAAAAd/may-the-odds-be-ever-in-your-favor-may-the-odds-hunger-games.gif)
 
Elements à consulter:





Doc                                   |             Link
--------------------------------------|------------------------------------
Github Helper      | [>link<](#scrollTo=Github_101)
Python en 30 jours | [>link<](https://moncoachdata.com/courses/apprendre-python-en-30-jours/)
Get started with pandas | [>link<](https://colab.research.google.com/notebooks/snippets/pandas.ipynb)

## Intro

Le premier bloc devrait toujours contenir les installs/imports dont on aura besoin pour le reste

In [ ]:
# Installs
print("Python is awesome 👍")

Python is awesome 👍

In [2]:
# Imports
import os
import json
from random import randint
import pandas as pd
import numpy as np

In [6]:
x = np.array([[1, 2, 3], [4, 5, 6]], np.int32)

x.shape

(2, 3)

### Correction TD precedent

Partir d'un fichier csv et alimenter la binge watch list :
  > serie, plateform, nb_episodes, année_sortie, note

Puis print :

	 Nom de la série : Brooklyn Nine-Nine
	 Année de sortie : 2013

	 Nom de la série : The office
	 Année de sortie : 2005

In [ ]:
def csv_to_dict(file_path, separator=";", row_limit=None):
    """
    Transforms a csv file, into a list of dictionaries

    Arguments:
        file_path  {str} : eg. /documents/file.txt
        separator  {str} : separator of fields, default (;)
        row_limit  {int} : limit the rows to be read, default None

    Returns list[dict]
    """

    with open(file_path, "r") as f:
        serie = {}
        serie_list = []
        for i, row in enumerate(f, 1):
            if i == 1:
                header = row.lower().strip().replace(' ','_').split(separator)
                # print("\nHeaders:", header,"\n")
            else:
                data = row.lower().strip().split(separator)
                # print("Data:",data)
                if len(header) == len(data):
                    for j, element in enumerate(header):
                        serie[header[j]] = data[j]
            # print(serie)
                serie_list.append(serie)
                serie = {}
            if i == row_limit:
                break
    return serie_list



file_path = "./netflix_titles.csv"
# file_path = "./tv_shows_pipe.csv"
limit = None
binge_watch_list = csv_to_dict(file_path,separator="|",row_limit=limit)
# for serie in binge_watch_list:
#   print(serie.get('title'))
# # Option 1 read some rows to see what we have

df = pd.DataFrame(binge_watch_list)
df["title"] = df["title"].str.title()
df.head(5)

column_name = 'release_year'
filter = df['release_year'] == '2005'
# df.query(f"`{column_name}` == '2003'")
df[filter]
# # serie, plateform, nb_episodes, année_sortie, note
# df2 = df.melt(id_vars=['title','year','imdb','rotten_tomatoes'],
#               var_name='plateform', 
#               value_vars=['netflix','hulu','prime_video','disney+'])
# df2.drop(['value'], axis=1)

##EX01
### Numpy intro

* Créer un vecteur depuis la liste ['Lyon', 'Paris', 'Montpellier']
    * Assigner le résultat à la variable `villes`
* Créer une matrice depuis la liste de listes suivante: `[['Lyon', '69'], ['Paris', '75'], ['Montpellier','34']]`
    * Assigner le résultat à la variable `villes_departement`
* Assigner la taille du vecteur `villes` à la variable `v_shape`
* Assigner la taille du tableau `villes_departement` à la variable `vd_shape` 
* Afficher les résultats

In [ ]:
# Code here

##EX02
### Numpy intro

#### Part 1

* Telecharger le dataset [cereal.csv](https://www.kaggle.com/datasets/crawford/80-cereals?select=cereal.csv) avec les colonnes suivantes :

```
['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
'rating']
```

* Afficher les deux premieres colonnes et toute les lignes
* Afficher la dernière colonne
* Afficher les 5 premieres lignes de la 4ème colonne
* Assigner a une variable `corn_flakes_cals` le nombre de calories par 100 gr de céréales de la marque Corn Flakes 
* Assigner le nom de la 3eme marque sur le dataset a une variabe `third_brand`
* Mettre dans une liste toutes les marques de céreales en utilisant `.tolist()` & afficher cette dernière
* Mettre les 10 premiere marques dans le fichiers dans une liste `first_ten_brands` & afficher cette dernière
> bonus 
* Convertir la colonne ratings en décimale

In [ ]:
# Code here
file_path = "./cereal.csv"
data = np.genfromtxt(
                      # ....
                     )
print(data.shape) ## retourne (lignes, colonnes)

(77, 16)

#### Part 2

* **Extraire** la premiere colonne du dataset et **la comparer** à la valeur `'Special K'` Assigner le resultat à une variable `special_k`
* Executer la commande `print(data[special_k])`
> bonus
* Faire la meme chose mais le filtre verifie que le manufacturer est Quaker Oats (lire la doc du dataset 😉)
> bonus ²
* Print le nom des marques dont le fabricant est `Quaker Oats` et qui contiennent **moins** de `10 grammes` de sucre par portion
* Ajouter une marque de céréales "healthy" avec 0 grammes de sucre au dataset

In [ ]:
# Code here

[['Special K' 'K' 'C' '110' '6' '0' '230' '1' '16' '3' '55' '25' '1' '1'
  '1' '53.131324']]
['100% Natural Bran' 'Life' 'Puffed Rice' 'Puffed Wheat'
 'Quaker Oat Squares' 'Quaker Oatmeal']

#### Part 3

Sur le même dataset, à l'aide d'une boucle `for`:


*   Créer un dictionnaire avec la moyenne de sucre par Fabricant de cérales
*   Trouver la marque de céreales qui contient le plus de sucre par portion

array([['100% Bran', 'Nabisco', 'C', ..., '1', '0.33', '68.402973'],
       ['100% Natural Bran', 'Quaker Oats', 'C', ..., '1', '1',
        '33.983679'],
       ['All-Bran', 'Kelloggs', 'C', ..., '1', '0.33', '59.425505'],
       ...,
       ['Wheat Chex', 'Ralston Purina', 'C', ..., '1', '0.67',
        '49.787445'],
       ['Wheaties', 'General Mills', 'C', ..., '1', '1', '51.592193'],
       ['Wheaties Honey Gold', 'General Mills', 'C', ..., '1', '0.75',
        '36.187559']], dtype='<U75')

{'Ralston Purina': 6.125, 'Nabisco': 1.8333333333333333, 'General Mills': 7.954545454545454, 'Kelloggs': 7.565217391304348, 'American Home Food Products': 3.0, 'Post': 8.777777777777779, 'Quaker Oats': 5.25}

## EX03
### Dataframes

Refaire l'exo du TD 4 (fichier des series) en utilisant la librairie NumPy.

In [ ]:
# Code here

## Github 101

```shell
# Repartir sur une nouvelle branche
git checkout main
# Mettre à jour notre branche locale
git pull origin main
# Recréer une branche pour le TD 05
git checkout -b branch_name_td05
# Dupliquer le fichier du td et rajouter en suffix son nom
cd 'chemin/m1-miage/'
cp 'src/to_do/td_05/td_05.ipynb' 'src/done/td_05/td_05_nom_prenom.ipynb'
# Faire le travail necessaire sur votre fichier et commit et push
git add 'src/done/td_05/td_05_nom_prenom.ipynb'
git commit -m 'message descriptif du travail fait'
git push --set-upstream origin nom_branche
# Faire une pull request
```

[>>>PULL REQUEST<<<](https://github.com/lapointe05/m1-miage/pulls)