<img src="https://upload.wikimedia.org/wikipedia/fr/0/0b/Polytech_Lyon_logo.png" alt="drawing" height="200"/>

# Traitement de donn√©es & Programmation en Python
---

# TD 007

TD √† th√®me :)


![Good luck!](https://media2.giphy.com/media/pF8PQGuxYGpEszkrwx/giphy.gif)


[Source du dataset](https://www.kaggle.com/datasets/dreb87/jamesbond)

Colonnes :

* Year - Release year of the movie.
* Movie - The movie title.
* Bond - Actor who played James Bond.
* Director - Director of the movie.
* Composer - Composer of the movie.
* Writer - Writer of the movie.
* Cinematographer - Cinematographer of the movie.
* Depicted_Film_Loc - Depicted location(s) of the movie.
* Shooting_Loc - Shooting location(s) of the move.
* Bond_Car_MFG - The manufacturer of the bond car.
* Bond_Girl_Nat - The nationality of the bond girl(s).
* US_Gross - The films U.S gross earnings.
* US_Adj: The films U.S gross earnings adjusted based on 2013.
* World_Gross - The films worldwide gross earnings.
* World_Adj - The films worldwide gross earnings adjusted based on 2013.
* Budget - The films budget.
* Budget_Adj - The films budget adjust based on 2013.
* Film_Length - The length of the movie.
* Avg_User_IMDB - The average user rating from IMDB.
* Avg_User_Rtn_Tom - The average user rating from Rotten Tomatoes.
* Conquests - The number of bond girls in the movie.
* Martinis - The number of martinis Bond consumed in the movie.
* BJB - The number of times bond stated "Bond, James Bond."
* Kills_Bond - The number of people Bond killed.
* Kills_Others - The number of people killed by someone other than bond.
* Top_100 - A flag where 1 means the movie had Billboard/UK top 100 song, 0 means it didn't.
* Video_Game - A flag where 1 means the movie was made into a video game, 0 means it didn't.

Elements √† consulter:



Doc                                   |             Link
--------------------------------------|------------------------------------
Github Helper      | [>link<](#scrollTo=Github_101)
Python en 30 jours | [>link<](https://moncoachdata.com/courses/apprendre-python-en-30-jours/)
Get started with pandas | [>link<](https://colab.research.google.com/notebooks/snippets/pandas.ipynb)

## Intro

Le premier bloc devrait toujours contenir les installs/imports dont on aura besoin pour le reste

In [ ]:

# Installs
# ! pip install packagename
print("Python is awesome üëç")

Python is awesome üëç

In [1]:
# Imports
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

## 007

1. Lire le dataset `jamesbond.csv` dans une variable `_007`
2. Exploration de donn√©es (dans une variable puis afficher):
   * Quel est le plus ancien film de 007 ? 
   * Qui est le plus ancien 007 ?
   * Qui √† jouer le plus de fois 007 ? (acteur)  
3. Quel est le c√¥ut moyen de la realisation d'un James Bond ?
4. Quels sont les lieux de tournage/repr√©sent√©s les plus populaires üèùÔ∏è¬†? (En fonction du lieu de tournage r√©el **ou** de ceux repr√©sent√©s, d√©terminez les lieux les plus utilis√©s dans les films **graphiquement**.)
5. Quel est la (marque) voiture la/les moins utilis√©e dans les films de 007 ?
6. Calculer le nombre de martinis bus par James Bond par film.
7. En prenant en compte le taux d'alcool moyen dans un martini (google) Est ce que James Bond avait le droit de conduire en France?
8. Dans quel film James Bond dit √ßa phrase mythique le plus de fois ?
9. Quel James Bond comporte le plus de kill ? (Tout confondu)
10. Quel est le James Bond le plus rentable de tous les temps (C√¥uts/B√©n√©fices) ?
11. Quel film de 007 a co√ªt√© le plus cher *par decennie* ? (Decomposez la r√©ponse en deux ou plusieurs parties)
12. Representez dans une carte du monde les lieux de tournages par film (la taille de la bulle sera determin√©e par la popularit√© du lieu Ref. Question prec√©dente)

> Bonus 
* Quel est le meilleur James Bond de tous les temps ? Trouvez un angle d'approche et de justification (par la data) √† votre r√©ponse :)

In [4]:
# Lecture du dataset

path = "C:/Users/a.aulagnier/Documents/GitHub/m1-miage/src/to_do/td_07/jamesbond.csv"

_007 = pd.read_csv(
    path,sep=',',
    header = 0,
    dtype = {'Year': int, 'Movie': str,'Bond': str,'Director': str,'Composer': str, 'Writer': str, 'Cinematographer': str,
             'Depicted_Film_Loc': str, 'Shooting_Loc': str, 'Bond_Car_MFG': str, 'Bond_Girl_Nat': str, 'US_Gross': int,
             'US_Adj': int, 'World_Gross': int, ' World_Adj': int, 'Budget': int, 'Budget_Adj': int, 'Film_Length': int,
             'Avg_User_IMDB': float, 'Avg_User_Rtn_Tom': float, 'Conquests': int, 'Martinis': int, 'BJB': int, 'Kills_Bond': int,
             'Kills_Others': int, 'Top_100': bool, 'Video_Game': bool }

    #le param√®tre dtype est utile pour sp√©cifier les types de chaque champ (str par d√©faut)

)

In [3]:
# Lecture du dataset

path = "C:/Users/a.aulagnier/Documents/GitHub/m1-miage/src/to_do/td_07/jamesbond.csv"

_007 = pd.read_csv(
    path,sep=',',
    header = 0
)

print(_007)

    Year                            Movie            Bond            Director  \
0   1962                           Dr. No    Sean Connery       Terence Young
1   1963            From Russia with Love    Sean Connery       Terence Young
2   1964                       Goldfinger    Sean Connery        Guy Hamilton
3   1965                      Thunderball    Sean Connery       Terence Young
4   1967              You Only Live Twice    Sean Connery       Lewis Gilbert
5   1969  On Her Majesty's Secret Service  George Lazenby       Peter R. Hunt
6   1971             Diamonds Are Forever    Sean Connery        Guy Hamilton
7   1973                 Live and Let Die     Roger Moore        Guy Hamilton
8   1974      The Man with the Golden Gun     Roger Moore        Guy Hamilton
9   1977             The Spy Who Loved Me     Roger Moore       Lewis Gilbert
10  1979                        Moonraker     Roger Moore       Lewis Gilbert
11  1981               For Your Eyes Only     Roger Moore           John Glen
12  1983                        Octopussy     Roger Moore           John Glen
13  1985                 A View to a Kill     Roger Moore           John Glen
14  1987             The Living Daylights  Timothy Dalton           John Glen
15  1989                  License to Kill  Timothy Dalton           John Glen
16  1995                        GoldenEye  Pierce Brosnan     Martin Campbell
17  1997              Tomorrow Never Dies  Pierce Brosnan  Roger Spottiswoode
18  1999          The World Is Not Enough  Pierce Brosnan       Michael Apted
19  2002                  Die Another Day  Pierce Brosnan        Lee Tamahori
20  2006                    Casino Royale    Daniel Craig     Martin Campbell
21  2008                Quantum of Solace    Daniel Craig        Marc Forster
22  2012                          Skyfall    Daniel Craig          Sam Mendes
23  2015                          Spectre    Daniel Craig          Sam Mendes

           Composer                                             Writer  \
0      Monty Norman  Richard Maibaum, Johanna Harwood & Berkely Mather
1        John Barry                  Richard Maibaum & Johanna Harwood
2        John Barry                        Richard Maibaum & Paul Dehn
3        John Barry                     Richard Maibaum & John Hopkins
4        John Barry                                         Roald Dahl
5        John Barry                                    Richard Maibaum
6        John Barry                   Richard Maibaum & Tom Mankiewicz
7     George Martin                                     Tom Mankiewicz
8        John Barry                   Richard Maibaum & Tom Mankiewicz
9   Marvin Hamlisch                 Christopher Wood & Richard Maibaum
10       John Barry                                   Christopher Wood
11       Bill Conti                Michael G. Wilson & Richard Maibaum
12       John Barry  George MacDonald Fraser, Michael G. Wilson & R...
13       John Barry                Michael G. Wilson & Richard Maibaum
14       John Barry                Michael G. Wilson & Richard Maibaum
15    Michael Kamen                Michael G. Wilson & Richard Maibaum
16       √âric Serra  Michael France, Jeffrey Caine, Kevin Wade & Br...
17     David Arnold                                    Bruce Feirstein
18     David Arnold         Neal Purvis, Robert Wade & Bruce Feirstein
19     David Arnold                        Neal Purvis and Robert Wade
20     David Arnold             Neal Purvis, Robert Wade & Paul Haggis
21     David Arnold        Paul Haggis and Neal Purvis and Robert Wade
22    Thomas Newman              Neal Purvis, Robert Wade & John Logan
23    Thomas Newman  John Logan & Neal Purvis, Robert Wade & Jez Bu...

      Cinematographer                                  Depicted_Film_Loc  \
0           Ted Moore                              Great Britain, Jamaic
1           Ted Moore  United Kingdom, Great Britain, Turkey, Croatia...
2           Ted Moore          United States, Great Britain, Switzerland
3           Ted Moore      France, Great Britain, Bahamas, United States
4       Freddie Young   United States, Russia, Kazakhstan, Norway, Japan
5        Michael Reed               Portugal, Great Britain, Switzerland
6           Ted Moore  Japan, Egypt, France, South Africa, Great Brit...
7           Ted Moore              United States, Great Britain, Jamaica
8           Ted Moore         Great Britain, Lebanon, Portugal, Thailand
9       Claude Renoir       Austria, Russia, Great Britain, Egypt, Italy
10      Jean Tournier  Great Britain, United States, Italy, Brazil, R...
11          Alan Hume  Great Britain, Russia, Spain, Italy, Greece, A...
12          Alan Hume              Great Britain, India, Russia, Germany
13          Alan Hume       Russia, Great Britain, France, United States
14         Alec Mills  Gibraltar, Great Britain, Slovakia, Austria, M...
15         Alec Mills              United States, Bahamas, Great Britain
16        Phil M√©heux  Russia, Monaco, France, England, United States...
17      Robert Elswit                  Russia, England, Germany, Vietnam
18      Adrian Biddle  Spain, England, Scotland, Kazakhstan, Azerbaij...
19   David Tattersall     South Korea, Hong Kong, Cube, England, Iceland
20        Phil M√©heux  Czech Republic, Pakistan, Uganda, Madagascar, ...
21   Roberto Schaefer    Italy, England, Haiti, Austria, Bolivia, Russia
22      Roger Deakins     Turkey, England, China, Macau, Japan, Scotland
23  Hoyte van Hoytema  Mexico, England, Italy, Austria, Morocco, Vati...

                                         Shooting_Loc  Bond_Car_MFG  \
0                                    England, Jamaica       Sunbeam
1       England, Scotland, Italy, Switzerland, Turkey        Bently
2                 England, Switzerland, United States  Aston Martin
3             England, France, Bahamas, United States  Aston Martin
4                                Japan, Spain, Norway        Toyota
5                      England, Switzerland, Portugal       Mercury
6   England, France, Germany, Netherlands, United ...          Ford
7                     England, United States, Jamaica           AMC
8              England, Thailand, Hong Kong, Portugal           AMC
9   England, Switzerland, Canada, Scotland, Egypt,...         Lotus
10  England, France, Italy, United States, Brazil,...         Lotus
11                      England, Italy, Malta, Greece       Citro√´n
12                        England, West Berlin, India         Bajaj
13  England, Switzerland, Iceland, France, United ...   Rolls Royce
14          England, Germany, Austria, Italy, Morocco   Rolls Royce
15                              Mexico, United States  Aston Martin
16  England, France, Monaco, Switzerland, Russia, ...           BMW
17                 England, France, Germany, Thailand  Aston Martin
18  England, Scotland, France, Spain, Turkey, Azer...           BMW
19     England, Spain, Iceland, Norway, United States  Aston Martin
20  England, Italy, Czech republic, Bahamas, Unite...  Aston Martin
21  England, Italy, Spain, Panama, Mexico, Chile, ...  Aston Martin
22                   England, Scotland, Turkey, China  Aston Martin
23  England, Austria, Italy, Vatican City, Mexico,...  Aston Martin

                             Bond_Girl_Nat   US_Gross  US_Adj  World_Gross  \
0                  Swiss, English, English   16067035  123517     59567035
1       English, Italian, English, Israeli   24800000  188161     78900000
2                         Serbian, English   51100000  382699    124900000
3                French, Italian, Bahamian   63600000  468754    141200000
4                Japanese, Chinese, German   43100000  299591    111600000
5              English, English, Hungarian   22800000  144234     82000000
6                                 American   43800000  251083    116000000
7               English, American, English   35400000  185105    161800000
8                         Sweedish, French   21000000   98894     97600000
9               American, English, Bosnian   46800000  179297    185400000
10              American, French, Moroccan   70300000  224811    210300000
11                      French, Australian   54800000  139964    195300000
12                       Sweedish, English   67900000  158274    187500000
13  American, Jamaican, Sweedish, Nigerian   50327960  108592    152627960
14                         Dutch, American   51185000  104608    191200000
15                      American, American   34667015   64907    156167015
16                           Polish, Dutch  106429941  162135    356429941
17             Malaysian, American, Danish  125304276  181254    339504276
18               American, French, English  126930660  176885    361730660
19                      American, Filipino  160942139  207700    431942139
20                         French, Italian  167365000  192740    596365000
21                                 English  169368427  182633    591692078
22                  French, Greek, English  304360277  307770   1108561108
23                French, Italian, Mexican  200074175  196647    879620923

    World_Adj  Budget  Budget_Adj  Film_Length  Avg_User_IMDB  \
0      457928    1000        7688          110            7.3
1      598624    2000       15174          115            7.5
2      935404    3000       22468          110            7.8
3     1040693    9000       66333          130            7.0
4      775740    9500       66035          117            6.9
5      518736    8000       50608          142            6.8
6      664969    7200       41274          120            6.7
7      846046    7000       36603          121            6.8
8      459623    7000       32965          125            6.7
9      710290   14000       53636          125            7.1
10     672514   31000       99134          126            6.2
11     498812   28000       71514          127            6.8
12     437059   27500       64102          131            6.5
13     329322   30000       64730          131            6.2
14     390758   40000       81749          130            6.7
15     292392   42000       78637          133            6.5
16     542985   60000       91404          130            7.2
17     491098  110000      159117          119            6.4
18     504091  135000      188130          128            6.3
19     557433  142000      183255          133            6.0
20     686784  102000      117465          144            7.9
21     638035  230000      248014          106            6.7
22    1120980  200000      202240          143            7.8
23     864553  245000      240803          148            6.8

    Avg_User_Rtn_Tom  Conquests  Martinis  BJB  Kills_Bond  Kills_Others  \
0                7.7          3         2    1           4             8
1                8.0          4         0    0          11            16
2                8.4          2         1    2           9            68
3                6.8          3         0    0          20            90
4                6.3          3         1    0          21           175
5                6.7          3         1    2           5            37
6                6.3          1         0    1           7            42
7                5.9          3         0    1           8             5
8                5.1          2         0    2           1             5
9                6.8          3         1    1          31           116
10               5.7          3         1    1          12            69
11               6.3          2         0    2          18            36
12               5.3          2         0    1          15            43
13               4.7          4         0    2           5            57
14               6.3          2         2    1          13            29
15               6.0          2         1    1          10            13
16               6.9          2         1    1          47            25
17               6.0          3         1    1          30            24
18               5.7          3         1    2          27            43
19               6.1          2         2    1          31            20
20               7.8          2         3    1          11            11
21               6.1          1         6    0          16            15
22               8.2          3         1    1          26            26
23               6.4          3         1    1          30           205

    Top_100  Video_Game
0         0           0
1         0           1
2         1           1
3         1           0
4         1           0
5         0           0
6         1           0
7         1           1
8         0           0
9         1           1
10        0           0
11        1           0
12        1           0
13        1           0
14        0           0
15        0           1
16        0           1
17        0           1
18        0           1
19        1           0
20        1           0
21        1           1
22        1           0
23        1           0